.input-group {
    margin: 10px;
    max-width: 300px;
}

.spacer {
    height: 50px;
}

.account-data {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-avatar {
    height: 100%;

    img {
        max-width: 250px;
        max-height: 250px;
    }
}

.account-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    .account-content {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;

        .account-details {
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: center;
            align-items: center;
            margin: 10px;

            .account-information {
                margin: 10px 50px;
                text-align: left;
                height: 100%;
            }

            sl-button {
                width: 150px;
                margin: auto;
            }

            .account-update-form {
                width: 100%;
                margin-bottom: 100px;

                .input-group {
                    margin: 10px;
                    max-width: 300px;
                }
            }
        }
    }
}

.account-orderlist-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;

    .account-order-container{   
        border-radius: 15px;
        background-color: dimgrey;
        max-width: 350px;
        width: 100%;
        text-align: left;
        padding: 5px;
    }
}

.account-image-dialog {
    --max-width: 300px;
}

.account-image-dialog-header {
    height: 0;
    text-align: center;
}

.account-image-dialog-body {
    width: 100%;
}

.account-image-dialog-spacer {
    height: 20px;
}

.account-image-dialog::part(panel) {
    width: 40vw;
}

.account-image-dialog::part(header) {
    height: 0px;
}

.account-image-dialog::part(close-button) {
    width: 0;
    height: 0;
}

.account-image-dialog-image {
    width: 60%;
    margin: 0 auto;

    img {
        width: 100%;
    }
}